In [ ]:
# 이승율(2023202417)

In [3]:
test = range(3)
test

range(0, 3)

In [4]:
type(test)

range

In [5]:
len(test)

3

In [6]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [7]:
type(dates)

list

In [6]:
N

3

In [8]:
for i in range(0,8):
    print("i is equal to", i)

i is equal to 0
i is equal to 1
i is equal to 2
i is equal to 3
i is equal to 4
i is equal to 5
i is equal to 6
i is equal to 7

In [9]:
for i in range(8):
    print("i is equal to", i)

i is equal to 0
i is equal to 1
i is equal to 2
i is equal to 3
i is equal to 4
i is equal to 5
i is equal to 6
i is equal to 7

In [10]:
for year in dates:
    print(year)

1982
1980
1973

In [11]:
type(year)

int

In [12]:
squares = ['red','yellow','green','purple','blue']

for i in range(len(squares)): # == range(0,5)
    print("Before square ", i, 'is', squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is', squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

In [13]:
type(squares)

list

In [14]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in squares:
    print("Before square is:", i)
for i in range(0,5):
    squares[i] = i*"what the heck!"
    print(squares[i])

Before square is: red
Before square is: yellow
Before square is: green
Before square is: purple
Before square is: blue

what the heck!
what the heck!what the heck!
what the heck!what the heck!what the heck!
what the heck!what the heck!what the heck!what the heck!

In [15]:
dates = [1982,1980,1973,2000]

i = 0
year = 0

while(year != 2000): # == range(0,4)
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i, "repetation to get out of loop.")

1982
1980
1973
2000
It took  4 repetation to get out of loop.

In [16]:
len(dates)

4

In [17]:
#Quiz on Loops
#Write a for loop the prints out all the element between -5 and 5 using the range function.

for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [18]:
#Print the elements of the following list:Genres = ['rock','R&B','Soundtrack','R&B','soul','pop'] Make sure you follow Python conventions.

Genres = ['rock','R&B','Soundtrack','R&B','soul','pop']
type(Genres)

list

In [19]:
len(Genres)

6

In [20]:
for i in range(len(Genres)):
    print(Genres[i])

rock
R&B
Soundtrack
R&B
soul
pop

In [21]:
#Write a for loop that prints out the following list: squares=['red','yellow','green','purple','blue']

squares = ['red','yellow','green','purple','blue']

for s in squares:
    print(s)

red
yellow
green
purple
blue

In [22]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings.
#If the score is less than 6, exit the loop.
#The list PlayListRatings is given by: PlayListRatings = [10,9.5,10,8,7.5,5,10,10]

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10,10]

i = 1
rating = PlayListRatings[0]

while(rating >= 6):
    print(rating)
    rating = PlayListRatings[i]
    i = i + 1

10
9.5
10
8
7.5

In [36]:
#Write a while loop to copy the strings 'orange' of the list squares to the list new_squares.
#Stop and exit the loop if the value on the list is not 'orange'

squares = ['orange', 'orange', 'purple', 'blue', 'orange']
new_squares = []

i = 0

while(squares[i] == 'orange'):
    print("squares[", i, "], s :", squares[i])
    new_squares.append(squares[i])
    i = i + 1
    
print(new_squares)

squares[ 0 ], s : orange
squares[ 1 ], s : orange
['orange', 'orange']

In [ ]:
#End