In [ ]:
# 이승율(2023202417)

In [ ]:
# Week10

In [ ]:
# (p11) Class

In [1]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))

3
7

In [2]:
print(adder(4))
print(adder(5))

11
16

In [3]:
# (p12) Class

result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

In [4]:
# (p13) Class

class Calculator:
    def __init__(self):
        self.result = 0
        
    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

In [5]:
# (p14-15) Obejct & Instance

class Service:
    secret = '지구멸망 3000년 전'

an = Service()
an.secret

'지구멸망 3000년 전'

In [6]:
# (p16) Obejct & Instance

Service.secret

'지구멸망 3000년 전'

In [7]:
Service.secret = '만우절이었습니다'

print(an.secret)

만우절이었습니다

In [9]:
# (p17) Obejct & Instance

class Service:
    secret = '지구멸망 3000년 전'
    def sum(self, a, b):
        result = a + b
        print('%s + %s = %s 이다' % (a, b, result))
    
an = Service()
an.sum(1,1)

1 + 1 = 2 이다

In [10]:
an.secret

'지구멸망 3000년 전'

In [12]:
# (p19) Obejct variable

class Service:
    secret = '지구멸망 3000년 전'
    def setname(self, name):
        self.name = name
    def sum(self, a, b):
        result = a + b
        print('%s 님, %s + %s = %s 입니다.' % (self.name, a, b, result))

an = Service()
an.setname('파스쿠치')
an.sum(1,1)

파스쿠치 님, 1 + 1 = 2 입니다.

In [13]:
# (p20) Class variable & Obejct variable

kim = Service()
park = Service()
kim.name = '김씨'
park.name = '박씨'

print(kim.name)
print(park.name)

김씨
박씨

In [14]:
kim.secret = 'no secret'
print(park.secret)
print(kim.secret)

지구멸망 3000년 전
no secret

In [15]:
Service.secret

'지구멸망 3000년 전'

In [16]:
# (p22) __init__

lee = Service()
lee.sum(1,1)

AttributeError: 'Service' object has no attribute 'name'

In [17]:
# (p23) __init__

class Service:
    secret = '지구멸망 3000년 전'
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a + b
        print('%s 님, %s + %s = %s 입니다.' % (self.name, a, b, result))
        
an = Service('이씨')
an.sum(1,1)

이씨 님, 1 + 1 = 2 입니다.

In [18]:
# (p24) +-*/ class

class FourCal:
    pass

a = FourCal()
type(a)

__main__.FourCal

In [19]:
help(FourCal)

Help on class FourCal in module __main__:

class FourCal(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [20]:
# (p25) +-*/ class

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setdata(4,2)

print(a.first)

4

In [21]:
print(a.second)

2

In [22]:
# (p26) +-*/ class

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result

a = FourCal()
a.setdata(4,2)
print(a.sum())

6

In [23]:
# (p27) +-*/ class

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [24]:
a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,7)

a.sum()

6

In [25]:
a.mul()

8

In [26]:
a.sub()

2

In [27]:
a.div()

2.0

In [28]:
b.sum()

10

In [29]:
b.mul()

21

In [30]:
b.sub()

-4

In [31]:
b.div()

0.42857142857142855

In [35]:
# (p30) dice game

import random

player1_dice = []
player2_dice = []

for i in range(3):
    player1_dice.append(random.randint(1,6))
    player2_dice.append(random.randint(1,6))

print('Player1 rolled' + str(player1_dice))
print('Player2 rolled' + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
    print("Draw")
elif sum(player1_dice) > sum(player2_dice):
    print('Player1 wins')
else:
    print('Player2 wins')

Player1 rolled[4, 4, 4]
Player2 rolled[5, 6, 4]
Player2 wins

In [39]:
# (p31) dice game - OOP

from random import randint

class Player:
    def __init__(self):
        self.dice = []
    def roll(self):
        self.dice = []
        for i in range(3):
            self.dice.append(randint(1,6))
    def get_dice(self):
        return self.dice

player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print('Player1 rolled' + str(player1.get_dice()))
print('Player2 rolled' + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
      print("Draw")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
      print("Player1 wins")
else:
      print("Player2 wins")

Player1 rolled[3, 1, 3]
Player2 rolled[2, 2, 6]
Player2 wins

In [44]:
# (p32) bank example

class Customer(object):
    def __init__(self, name):
        self.name = name
    def set_balance(self, balance=0.0):
        self.balance = balance
    def withdraw(self, amount):
        if amount > self.balance:
            raise RuntimeError('Amount greater than available balance.')
        self.balance -= amount
        return self.balance
    def deposit(self, amount):
        self.balance += amount
        return self.balance

In [45]:
cus = Customer('Customer1')

cus.set_balance(1000)
cus.deposit(100)

1100

In [46]:
cus.withdraw(500)

600

In [47]:
cus.withdraw(700)

RuntimeError: Amount greater than available balance.

In [ ]:
#End